{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>productracker</title>
</head>
<body>

    <main class="conteudo-principal">
        {% if lista_produtos %}
        <ul>
        {% for produto in lista_produtos %}
            <li><a href="/produtos/{{ produto.id }}/">{{ produto.titulo }}</a></li>
        {% endfor %}
        </ul>
        {% else %}
        <p>Não temos produtos =/.</p>
        {% endif %}
        <a href="{% url 'usuarios-lista' %}">Ver usuários</a>
    </main>
</body>
</html>