{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Detalhes do produto</title>
</head>
<body>
    <main class="conteudo-principal">

<form action="{% url 'produtos-create' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>

<a href="{% url 'produto-list' %}">Voltar</a>

    </main>
</body>
</html>