{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Usuários</title>
</head>
<body>
    <main class="conteudo-principal">

<form action="{% url 'usuarios-update' user.id %}" method="post" enctype="multipart/form-data"> 
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Atualizar dados">
    {% if messages %}
<!-- <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul> -->
{% endif %}
</form>
<a href="{% url 'usuarios-lista' %}">Voltar</a>
    </main>
</body>
</html>